
@model DoctorsManagement.Models.DoctorsInfo
@{
    ViewData["Title"] = "Details";
}<h2>Details</h2>
 <dl>
     <dt>@Html.DisplayNameFor(Model => Model.Id)</dt>
     <dd>@Html.DisplayFor(Model => Model.Id)</dd>
     <dt>@Html.DisplayNameFor(Model => Model.Name)</dt>
     <dd>@Html.DisplayFor(Model => Model.Name)</dd>
     <dt>@Html.DisplayNameFor(Model => Model.Specialization)</dt>
     <dd>@Html.DisplayFor(Model => Model.Specialization)</dd>
     <dt>@Html.DisplayNameFor(Model => Model.HospitalName)</dt>
     <dd>@Html.DisplayFor(Model => Model.HospitalName)</dd>
 </dl>


