
@model DoctorsManagement.Models.DoctorsInfo
@{
ViewData["Title"] = "Delete";
}



<h2>Delete</h2>



<dl>
    <dt>@Html.DisplayNameFor(Model => Model.Id)</dt>
    <dd>@Html.DisplayFor(Model => Model.Id)</dd>



    <dt>@Html.DisplayNameFor(Model => Model.Name)</dt>
    <dd>@Html.DisplayFor(Model => Model.Name)</dd>



    <dt>@Html.DisplayNameFor(Model => Model.Specialization)</dt>
    <dd>@Html.DisplayFor(Model => Model.Specialization)</dd>

    <dt>@Html.DisplayNameFor(Model => Model.HospitalName)</dt>
    <dd>@Html.DisplayFor(Model => Model.HospitalName)</dd>
</dl>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
@Html.HiddenFor(Model => Model.Id)
<input type="submit" value="Delete" />
}


